<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand custom-brand" routerLink="/home">E-tech store</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ng-container *ngIf="isLoggedIn">
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav d-flex flex-lg-row gap-lg-3 text-center">
          <li *ngFor="let item of navItems" class="nav-item">
            <a class="nav-link text-light" [routerLink]="item.link" routerLinkActive="active">
              {{ item.label }}
            </a>
          </li>
        </ul>
      </div>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
  <ul class="navbar-nav d-flex flex-lg-row gap-lg-3 text-center">
    <li *ngFor="let item of navItemslogin" class="nav-item">
      <a class="nav-link text-light" [routerLink]="item.link" routerLinkActive="active">
        {{ item.label }}
      </a>
    </li>
  </ul>
</div>
    </ng-container>


    <div class="d-none d-lg-block">
      <ng-container *ngIf="!isLoggedIn">
        <a class="navbar-brand" routerLink="/login">Login</a>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <a class="navbar-brand" routerLink="/profile">{{ currentUser?.name }}</a>
        <button class="btn btn-link text-light" (click)="logout()">Logout</button>
      </ng-container>
    </div>
  </div>
</nav>
